body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

.info.legend {
  background: white;
  line-height: 1.5;
  color: #555;
  padding: 6px 8px;
  font: 14px Arial, Helvetica, sans-serif;
  border-radius: 5px;
}

.info.legend i {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  display: inline-block;
  border-radius: 3px;
}
